@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap'); // 'Reddit Sans Condensed' 200
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); // 'Quicksand' 600
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap'); // Archivo Black
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap'); // Oswald
body{
    margin: 0;
    background-color: #211A1D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app{
    width: 360px;
    height: 800px;
}
